extends ../../layout/layoutIndex

block title
  title Todos los Usuarios

block main
  .row.center-xs
    .col-xs-10
      if (users != "")
        table.highlight.centered
          thead
            tr
              th providerId
              th username
              th email
              th administrator
              th fechaCreacion
              th(colspan="2") crud
          tbody
            each user in users
              tr
                td #{user.providerId}
                td #{user.username}
                td #{user.email}
                td #{user.administrator}
                td #{user.creationUser}
                td: a.waves-effect.waves-light.btn.margin-small(href="app/users/" + user._id + "/edit") Edit
                td
                  form(method="POST" action="/app/ofertas/" + user._id + "?_method=DELETE" enctype="multipart/form-data")
                    input.waves-effect.waves-light.btn.margin-small(type="submit", value="Delete")
      else
        h2 No hay Usuarios en la base de datos
          .row.center-xs
            a.waves-effect.waves-light.btn(href="/") Regresar al Inicio
