extends ../../layout/layoutIndex

block title
  title Todos los Usuarios

block main
  .row.center-xs
    .col-xs-10
      if (users != "")
        table.highlight
          thead
            tr
              th providerId
              th username
              th email
              th administrator
              th fechaCreacion
          tbody
            each user in users
              tr
                td #{user.providerId}
                td #{user.username}
                td #{user.email}
                td #{user.administrator}
                td #{user.fechaCreacion}
      else
        h2 No hay ofertas en la base de datos
