extends ../../layout/layoutIndex

block title
  title Usuario autenticado

block main
  .row.center-xs
    .col-xs-5
      h3 Users
  .row.center-xs
    .col-xs-2
      a(href="/auth/facebook" class="btn blue darken-4") Facebook
    .col-xs-2
      a(href="/auth/twitter" class="btn blue") Twitter
    .col-xs-2
      a(href="/auth/linkedin" class="btn light-blue darken-3") Linkedin
  .row.center-xs
    .col-xs-10.start-xs
      if(storedUser)
        h5
          span: b Correo:
          span= " " + storedUser.email
        h5
          span: b Nombre:
          span= " " + storedUser.username
        h5
          span: b Proveedor:
          span= " " + storedUser.provider
        h5
          span: b ProveedorID:
          span= " " + storedUser.providerId
        h5
          span: b Adminisitrador:
          span= " " + storedUser.administrator
        h5
          span: b Fecha de Registro:
          span= " " + storedUser.creationDate.hour + ' ' + storedUser.creationDate.date
        h5
          span: b Datos de Contacto:
          span= " " + storedUser.contactInformation
        h5
          span: b Ultima Modificacion:
          span= " " + storedUser.updateDate.hour + ' ' + storedUser.updateDate.date
        h5
          span: b Historial de Actividad:
          span= " " + storedUser.history
        h5
          span: b Foto de Perfil
        br
        if(storedUser.photo)
          img(src="/images/imagesUsers/" + storedUser.photo width="300")
        else
          p Imagen no disponible
      else
        p No existe el usuario
