extends ../../layout/layoutIndex

block title
  title Usuario autenticado

block main
  .row.center-xs
    .col-xs-5
      h3 Users
  .row.center-xs
    .col-xs-10.start-xs
      if(user)
        h5
          span: b Correo:
          span= " " + user.email
        h5
          span: b Nombre:
          span= " " + user.username
        h5
          span: b Proveedor:
          span= " " + user.provider
        h5
          span: b ProveedorID:
          span= " " + user.providerId
        h5
          span: b Adminisitrador:
          span= " " + user.administrator
        h5
          span: b Fecha de Registro:
          span= " " + user.creationDate.hour + ' ' + user.creationDate.date
        h5
          span: b Datos de Contacto:
          span= " " + user.contactInformation
        h5
          span: b Ultima Modificacion:
          span= " " + user.updateDate.hour + ' ' + user.updateDate.date
        h5
          span: b Historial de Actividad:
          span= " " + user.history
        h5
          span: b Foto de Perfil
        br
        if(user.photo)
          img(src="/images/imagesUsers/" + user.photo width="300")
        else
          p Imagen no disponible
      else
        p No existe el usuario
