extends ./layout/layoutIndex

block title
  title Registro de Usuarios

block main
  .row.center-xs
    .col-xs-8
      if(user)
        if(user.photo)
          img(src="" + user.photo)
        else
          p Imagen no disponible
        p Nombre: #{user.username}
        p Proveedor: #{user.provider}
        p ProveedorID: #{user.providerId}
        p Adminisitrador: #{user.administrator}
        p Fecha de Registro: #{user.fechaCreacion}
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href="/accounts/logout") Cerrar Sesion


