extends ../../layout/layoutIndex

block title
  title offer

block main
  .row.center-xs
    .col-xs-5
      h3 oferta
  .row.center-xs
    .col-xs-10
      h5 Empresa: #{offer.business}
      h5 Descripcion: #{offer.description}
      h5 Categoria: #{offer.category}
      h5 Creado por : #{offer.postedBy.username}
      h5 Fecha de Creacion: #{offer.creationOffer}
      h5 Foto
      img(src="/images/imagesOffers/" + offer.image width=900)
  .row.center-xs
    .col-xs-10.borde
      h3 Comentarios
  .row.center-xs
    .col-xs-10
      form(action="/app/offers/" + offer._id + "/comments" method="POST" enctype="multipart/form-data")
        input(type="text", class="comment", name="comment", placeholder="Dejanos tu opinion")
  .row.center-xs
    .col-xs-10
      if (offer.comments)
        each i in offer.comments
          .row.center-xs
            span= i.postedBy.username + " : "
            span= i.comment + "  "
            span= i.date.split(',')[1]
